<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mail confirm</title>
</head>
<body>
<h1 style="color: blue; font-size: 30px; text-align: center;">Подтврерждение аккаунта</h1>
<form th:action="@{http://localhost:8765/auth/email/activate}" method="post">
    <input type="hidden" id="token" name="token" th:value="${token}" required>
    <button style="
                    margin:auto; display:block;
                    appearance: none;
                    border: 0;
                    border-radius: 5px;
                    background: #4676D7;
                    color: #fff;
                    padding: 8px 16px;
                    font-size: 16px;
                "
            type="submit">Submit</button>
</form>
</body>
</html>